body {
  background: $white;
  color: $black;
  font: 400 1em $default-serif-font;
}

.wrapper {
  width: $max-width;
  overflow: hidden;
  padding: 4% 0;
  z-index: 10;
  position: relative;
}

a {
  text-decoration: none;
  color: $black;
  
  &:hover {
    color: $pink;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  @include center($content-width);
  min-height: 100vh;
  
  @media (max-width: 1000px) {
    @include center(75%);
  }
  
  @media (max-width: 800px) {
    @include center(100%);
  }
}

.main-title {
  font: 400 3.5em $default-sans-serif-font;
  text-align: center;
  margin: 100px 0 8% 0;
    
  .caption {
    font-size: .43em;
    font-weight: 300;
  }

  @media (max-width: 799px) {
    font-size: 3em;
  }
}

p {
  font-size: 1.2em;
  padding: 0 25px;

  a {
    border-bottom: solid 1px lighten($black,60%);
  }

  @media (max-width: 799px) {
    padding: 0 5px;
    font-size: 1em;
  }
}

.one-col-post {
  padding: 20px;

  h1 {
    font: 400 1.7em $default-sans-serif-font;
  }

  p {
    line-height: 1.8em;
  }
 }

.two-col-post {
  width: $two-col-posts-width;
  float: right;
  padding: 20px;
    
  h1 {
    font: 400 1.5em $default-sans-serif-font;
  }

  p {
    font-size: 1em;
    line-height: 1.4em;
  }

  @media (max-width: 799px) {
    position: relative;
    display: block;
    width: $max-width;
  }
}
