.header {
  i {
    position: relative;
    top: 0;
    left: 0;
    font-size: 50px;
    color: $pink;
    padding: 10px;
    display: block;
    
    &:hover {
      cursor: pointer;
    }
    
    @media (min-width: 800px) {
      display: none;
    }
  }
}

.nav {
  z-index: 999;
  @media (max-width: 799px) {
    @include prefix(box-shadow, 1px 2px 1px lighten($black,40%), moz webkit);
    position: absolute;
  }
  
  a {
    font: .9em $default-sans-serif-font;
    text-align: center;
    background: $white;
    width: $max-width / 6;
    color: $black;
    display: inline-block;
    letter-spacing: 1px;
    //border-bottom: solid 9px;
    padding: 25px 0;
    
    &:hover, &.selected {
      color: $white;
    }
    
    &:nth-of-type(6n+1) {
      color: darken($pink,8%);
      &:hover, &.selected {
        background: $pink;
      }
    }
    
    &:nth-of-type(6n+2) {
      color: darken($orange,5%);  
      &:hover, &.selected {
        background: $orange;
      }
    }
      
    &:nth-of-type(6n+3) {
      color: darken($yellow,8%);
      &:hover, &.selected {
        background: $yellow;
      }
    }
      
    &:nth-of-type(6n+4) {
      color: darken($emerald,5%);
      &:hover, &.selected {
        background: $emerald;
      }
    }
      
    &:nth-of-type(6n+5) {
      color: darken($turquoise,5%);
      &:hover, &.selected {
        background: $turquoise;
      }
    }
    
    &:nth-of-type(6n+6) {
      color: darken($blue,15%);
      &:hover, &.selected {
        background: darken($blue,5%);
      }
    }
    
    @media (max-width: 799px) {
      display: block;
      text-align: left;
      width: 200px;
      margin-top: 0;
      border-bottom: none;
      border-left: solid 15px;
      padding: 20px;
    }
  }
}
